In [12]:
import pandas as pd
import random

In [88]:
raw_df = pd.read_csv("kindle_reviews.csv")
raw_df = raw_df.drop('Unnamed: 0', 1)

In [89]:
#Extract 200 users randomly
list_of_users = raw_df.groupby('reviewerID')['reviewerID'].count()
list_of_users.head().index

#select random numbers between 0 and len of list_of_users
random.seed(1337)
my_randoms = random.sample(range(len(list_of_users)), 200)
#save list of users reviewer IDs
users = list_of_users.iloc[my_randoms].index

In [92]:
#Create new df with subset of users
df = raw_df[raw_df['reviewerID'].isin(users)]
#Test worked properly
print("Did grouping work: ", 200 == len(df.groupby('reviewerID')['reviewerID'].count()))
print("Average number of reviews per user: ", len(df) / 200)

Did grouping work:  True
Average number of reviews per user:  15.995

In [93]:
df.head()

,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
171,B000JML1QG,"[0, 0]",2,It had never sunk in to me that these stories ...,"07 4, 2013",A2Q27OP8IVKVU3,"L. WILLIAMS ""Truth Seeker""",Bad idea,1372896000
431,B000MV9B66,"[1, 1]",4,I've been trying a few of the Kindle newspaper...,"01 30, 2011",A1EBFGZ1FZWI4O,&#34;Dan&#34;,Not the actual newspaper but not bad at all,1296345600
655,B000R93DJE,"[0, 0]",3,"It was a cute book, but very short. I have en...","02 6, 2011",A3A76O76JI1GEZ,MissyBelle,Kinda Short,1296950400
954,B000WSFBO0,"[0, 0]",4,This collection of stories was shockingly well...,"03 3, 2014",AIIY3MCW8VD74,Sara Ruth Willingham,Really good!,1393804800
1406,B0016IXM96,"[2, 2]",4,"This short novella was in deed, a very H-O-T r...","06 13, 2011",A1A2UUBPN2AMTO,Nina,Hot lovin' that burns the pages!,1307923200